<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Loop</title>
</head>
<body>
<h1>Here's Users Table</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Age</th>
        <th>Name</th>
        <th>Department</th>
        <th>Edit User</th>
        <th>Delete User</th>
    </tr>
    <tr th:each="user:${allUsers}">
        <td th:utext="${user.getId()}" ></td>
        <td th:utext="${user.getAge()}" ></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getDepartment()}"></td>
        <td> <form th:method="GET" th:action="@{/users/edit/{id}(id=${user.getId()})}">
        <input type="submit" value="edit person">
    </form> </td>
        <td> <form th:method="DELETE" th:action="@{/users/delete/{id}(id=${user.getId()})}">
            <input type="submit" value="delete">
        </form> </td>
    </tr>
</table>
<br><br>
<form th:method="GET" th:action="@{/users/add}">
    <input type="submit" value="Add new person">
</form>
<br><br>



</body>
</html>